<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
      crossorigin="anonymous"> 
  <!--link to font awesome-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!--link to google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!--link to jQuery CSS-->
  <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav class="nav-custom">
      <h1 class="text-center hdr-custom">Tech Blog</h1>
      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" >
        <li class="nav-item">
          <a href="/" class="nav-link" >Home</a>
        </li>
        <li class="nav-item">
          <a href="/dashboard" class="nav-link" >Dashboard</a>
        </li>
        {{#if logged_in}}
        <li class="nav-item">
          <a href="/login" class="nav-link hide-link" >Login</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link" id="logout" >Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/if}}

      </ul>
  </nav>  

  <main class = "d-flex flex-column align-items-center main-container-custom">
      {{{body}}}
  </main>

  <!--Links to script files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{else}}
<script src="/js/login.js"></script>
{{/if}}

</body>
</html>