:root {
    --Primary: #F0FFF1;
    --Secondary: #8367C7;
    --Dark: #5603AD;
    --AccentDrk: #B3E9C7;
    --AccentLt: #C2F8CB;
}

body {
    background-color: var(--Primary);
}

.nav-custom {
    padding: 20px;
    background-image: linear-gradient(to top, var(--Dark), var(--AccentDrk));
    color: var(--Primary);
}

.hdr-custom {
    color: var(--Dark);
    font-size: 4rem;
    
}

.nav-custom a {
    color: var(--Primary);
    font-size:1.5rem;
}

.main-container-custom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-custom {
    width: 90%;
    background-color: var(--Secondary);
    border-color: var(--Dark);
    border-radius: 10px;
    color: var(--AccentDrk);
}

.main-hdr-custom {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom-color: var(--Primary);
    border-bottom-style: dotted;
}

.post-message-custom {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 1.25rem;
}

.prompt-custom {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 1.25rem;
}

.posted-by-custom {
    color: var(--Dark);
    font-weight: bold;
}

.hide-link {
    display: none;
}

.btn-custom {
    width: 15%;
    background-image: linear-gradient(var(--Primary), var(--AccentDrk));
    border-color: var(--AccentLt);
    color: var(--Dark);
    align-self: center;
    margin-bottom: 20px;
    font-weight:bolder;
}

.sign-up-link {
    color: var(--Primary);
    margin-bottom: 20px;
    margin-left: 10px;
    align-self: center;
}




